atomicwrites
attrs
certifi
chardet
Click
coverage
Faker
Flask
flask-marshmallow
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
more-itertools
pluggy
py
pytest
pytest-cov
python-dateutil
python-slugify
requests
six
SQLAlchemy
text-unidecode
urllib3
Werkzeug
